<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Pure Non Veg</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
   	<link href="css/inner-pg.css" rel="stylesheet">
   <link href="css/bootstrap-select.css" rel="stylesheet">
	 <link rel="stylesheet" type="text/css" href="fonts/stylesheet.css" />
	<!-- Start WOWSlider.com HEAD section -->
<link rel="stylesheet" type="text/css" href="css/style-sldr.css" />

	<link rel="stylesheet" type="text/css" href="css/component.css" />
		
<!-- End WOWSlider.com HEAD section -->
<style>
@import url(http://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);

</style>
<style>

    </style>
    
</head>

<body>
<div class="wrapper">
	<header>
    	<div class="container">
  			<div class="row">
            	<div class="col-lg-6 col-sm-6 col-xs-6">
                	<div class="logo-txt">
                     	<a href="index.html"><img src="img/logo.png" alt="" /></a>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-xs-6">
                	
                     <nav class="menu-opener">
                        <div class="menu-opener-inner"></div>
                      </nav>
                      <nav class="menu">
                        <ul class="menu-inner1">
                      		
                          <a href="#" class="col-lg-3">
                            <li class="active1">Home</li>
                          </a>
                          <a href="#" class="col-lg-3">
                            <li>Order</li>
                          </a>
                          <a href="#" class="col-lg-3">
                            <li>Sign Up</li>
                          </a>
                          <a href="#" class="col-lg-3">
                            <li>Sign In</li>
                          </a>
                         </ul>
                      </nav>
                </div>
            </div>
 		</div>
    </header>
    
    <div class="ur-ordr-pg">
    	<div class="container">
        	<div class="row">	
            	<div class="col-lg-12">
                	<a href="#" class="back-rst"> Back to restaurant </a>
                    <div class="steps-div">
                    	<img src="img/steps2.png" alt="" class="img-responsive"/>                        
                    </div>
                </div>                
            </div>
            <div class="row">
            	<div class="col-lg-7">	
                	<div class="order-login-div">
                    
                    <div class="login-options-div">
               	<div class="col-lg-12">
                	<div class="col-lg-6 col-sm-6 rf">
                    <a href="#">
                        <div class="log-fb">
                        	<span class="fb-img"></span>
                            Login with Facebook
                        </div>
                    </a>                    
                    </div>
                    <div class="col-lg-6 col-sm-6 lh">
                    <a href="#">
                      <div class="log-gp">
                      	<span class="gp-img"></span>
                            Login with Google+
                      </div>
                    </a>
                    </div>
                </div>
                </div>
                    <p>You can create an account after placing your order.</p>
                    
                    <form class="login-form">
                	<input type="text" placeholder="Username*" id="u-name">
                    <input type="password" placeholder="Password*" id="pass">
                    <input type="text" placeholder="Email*" id="email-id">
                    <input type="text" placeholder="Mobile Number*" id="mob-no">
                    
                </form>
                    </div>
                    <div class="ur-address">
                    	<h2>Your delivery address </h2>
                         <form class="login-form">
                	<input type="text" placeholder=" Flat No. / House No.*" id="fl-no">
                
                    <input type="text" placeholder="Apartment / Locality name*" id="aprt-name">
                    
                </form>
                <div class="delivery-ins">
                         <button class="btn msg" type="button" data-toggle="collapse" data-target="#del-instrction">Delivery Instructions </button>(optional)
                          <div id="del-instrction" class="collapse arcv-content" aria-expanded="false">
                          		<textarea placeholder="Message"></textarea>
                          </div>
                          <br />
						 <button class="btn msg" type="button" data-toggle="collapse" data-target="#del-dtls">Add more delivery details </button>
                          <div id="del-dtls" class="collapse arcv-content" aria-expanded="false">
                          		<textarea placeholder="Message"></textarea>
                          </div>
                  </div>
                    </div>  
                    
                    
                  <div class="choose-to-pay">	
                  	<h2>Choose how to pay </h2>
                    <div class="pay-options">
                     
						<button class="btn msg" type="button" data-toggle="collapse" data-target="#pay-now">Pay Now </button>
                          <div id="pay-now" class="collapse arcv-content" aria-expanded="false">
                          		<div>
                                 <input type="radio" name="radiog_lite5" id="radio8" class="css-checkbox" /><label for="radio8" class="css-label radGroup1">
                                      <span></span>
                                      PayTM Wallet<img src="img/paytm.png" alt=""/>
                                </label>
                                </div>
                                <div>
                                 <input type="radio" name="radiog_lite5" id="radio9" class="css-checkbox" /><label for="radio9" class="css-label radGroup1">
                                      Pay Online<img src="img/visa.png" alt="" />
                                </label>
                                </div>
                                <div>
                                  <input type="radio" name="radiog_lite5" id="radio10" class="css-checkbox" /><label for="radio10" class="css-label radGroup1">
                                      
                                      Pay Online(with Bank)
                                </label>
                                </div>
                                
                               
                          </div>
                         <div class="or-div"><p>OR</p></div>
                     <button class="btn msg" type="button" data-toggle="collapse" data-target="#pay-on-dely">Pay On Delivery </button>
                          <div id="pay-on-dely" class="collapse arcv-content" aria-expanded="false">
                          		   <input type="radio" name="radiog_lite5" id="radio11" class="css-checkbox" /><label for="radio11" class="css-label radGroup1">
                                      Cash On Delivery
                                </label>
                          </div>
                    </div>
                    
                   
                    
                 
                 
                    
                  </div>
                  <div class="place-odr-now">
                    	<div class="gray-border">
                        		<span class="total1"> Total</span>
                                <span class="total1-right">RS.0.00</span> </div>
                        			  <input type="radio" name="radiog_lite6" id="radio12" class="css-checkbox" /><label for="radio12" class="css-label radGroup1">
                                    Please inform me about new restaurants and great offers
									</label>
                                     <input type="radio" name="radiog_lite6" id="radio13" class="css-checkbox" /><label for="radio13" class="css-label radGroup1">
                                    I agree to receive a camparable dish for the same price if my orignal one is not available.
									</label>
                                    <p class="I_agree"> By clicking this button, you agree with our<a href="#"> terms and conditions</a></p>
                                    <a href="#" class="chk-out">Place An Order </a>
                       
                        
                    </div>
                  
                  </div>
               
                <div class="col-lg-5">
    				
					<div class="your-order">
                    	<div class="ur-order-head"><h2>Your Order</h2></div>
                        <div class="your-order-content">
                        <a class="h-img" href="#">
                        <img alt="" src="img/rest-1.png">
                        </a>
                        <a class="hname" href="#">Minus 18 Degrees</a>
                        <div class="toatal-item">
                        <table>
                        <tr>
                        <td>
                        
                         <p class="no-item">2 &nbsp;X</p></td><td>	<p class="m-name">Cheese Omelet And Toast</p>						
                       <span> A warm oven toasted buttered bread roll.</span>
                        </td>
                       <td><div class="total"><span>Rs. 200</span></div></td>
                       </tr>
                       </table>
                       </div>
                       <div class="toatal-item">
                       <table>
                  
                        <tr>
                        <td>
                        
                         <p class="no-item">2 &nbsp;X</p></td><td>	<p class="m-name">Cheese Omelet And Toast</p>						
                       <span> A warm oven toasted buttered bread roll.</span>
                        </td>
                       <td><div class="total"><span>Rs. 200</span></div></td>
                       </tr>
                        </table>
                        </div>
                        
                          
                        
                       
                       <div class="extra-chrgs">
                          	<p>Delivery fee 	<span>FREE</span></p>
							<p>+ Container charges <span>Rs.5.00</span></p>
							<p>+ Service tax (4.94%)<span> 	Rs.26.43</span></p>
							<p>Total will be rounded off</p>
    					</div>
                        <div class="subtotal"><p>Total:<span>Rs. 550 </span></p></div>
                        </div>
                   </div>

                </div>
            </div>
        </div>       
    </div>
    
 
   
 	<div class="how-to-order">
    	<div class="container">
        	<div class="order-links">
            	<ul><li><a href="#">HOW TO ORDER </a></li>
                	<li><a href="#">VERIFY ORDER </a></li>
                    <li><a href="#">TRACK ORDER </a></li>
                    <li><a href="#">FAQS </a></li>
                    <li><a href="#">CUSTOMER CARE</a></li>
                </ul>    
                	
            </div>
        </div>
    </div>
    <div class="social-sec">
    	<div class="container">
        	<div class="row">
            	<div class="col-lg-12 ">
                	 <div class="social" >
                     		<h1>Let's be Friends</h1>
                         	
                                <a href="http://facebook.com" class="icon-button facebook"><div class="add-facebook"></div><span></span></a>
  <a href="http://twitter.com/minimalmonkey" class="icon-button twitter"><div class="add-twitter"></div><span></span></a>
  <a href="#" class="icon-button google-plus"><div class="add-insta"></div><span></span></a>
<a href="http://plus.google.com" class="icon-button google-plus"><div class="add-gplus"></div><span></span></a>
<a href="http://plus.google.com" class="icon-button google-plus"><div class="add-linked-in"></div><span></span></a>

<a href="http://plus.google.com" class="icon-button google-plus"><div class="add-pintrest"></div><span></span></a>

                         </div>
                </div>
            </div>
        </div>
    </div>
     <div class="footer-links-sec">
    	<div class="container">
        	<div class="row">            	
                <div class="ft-link">
                     <div class="col-lg-3 col-sm-3">
                        <h1>Pure Non Veg</h1>
                        <a href="#"> About Us</a>
 						<a href="#">Team Careers  Blog</a>
                        <a href="#">Contact Us</a>
                        <a href="#">Blog</a>
						<a href="#">Sitemap</a>
                     
                    </div>
                    <div class="col-lg-3 col-sm-3">
                    <h1>POPULAR CUISINES</h1>
                         <a href="#">  Indian Restaurants</a>
                          <a href="#"> Chinese Restaurants</a>
                         <a href="#"> Pizza Restaurants</a>
                          <a href="#"> Cake Delivery</a>
                           <a href="#"> Italian Restaurants</a>                         
                          <a href="#">Mexican Restaurants</a>                          
                         <a href="#"> Punjabi Restaurants</a>                          
                          <a href="#">Fast Food Restaurants</a>
                   
                    </div>
                    <div class="col-lg-3 col-sm-3">
                    <h1>POPULAR delivery locations</h1>
                     <a href="#"> Domino's Pizza</a>
                     <a href="#"> Eatsome</a>
                     <a href="#"> Mast Kalandar </a>
                     <a href="#"> Subway</a>
                     <a href="#"> Pizza Corner</a>          
                     <a href="#"> Mad Over Donuts </a>                     
                     <a href="#"> Mainland China</a>
                     <a href="#"> Baskin Robbins </a>                    
                    </div>
                    <div class="col-lg-3 col-sm-3">
                    <h1>POPULAR RESTAURANTS</h1>
                       <a href="#">Domino's Pizza </a>
                       <a href="#">Eatsome</a>
                       <a href="#"> Mast Kalandar</a> 
                        <a href="#">Subway </a>                      
                        <a href="#">Pizza Corner</a>                        
                        <a href="#">Mad Over Donuts</a>                        
                        <a href="#">Mainland China</a>                        
                        <a href="#">Baskin Robbins</a>                 
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
 <div class="copyright-sec">
    	<div class="container">
        	<div class="row"> 
               <div class="col-lg-10 col-sm-10">
               <p>© 2015 : purenonveg.com : all rights reserved : crafted and marketed by <a href="http://infinistaconcepts.com/">infinista concepts</a></p>
               </div>
                <div class="col-lg-2 col-sm-2">
                <a href="#"><span>Privacy</span></a>&nbsp;  &nbsp;  . &nbsp;  &nbsp;
                 <a href="#"><span> Terms</span></a>
               </div>
            </div>
        </div>
     </div>
    
</div>
 
</div>
<script src="js/modernizr.custom.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap-select.js"></script>
<script type="text/javascript" src="js/wowslider.js"></script>
<script type="text/javascript" src="js/script.js"></script>

<script type="text/javascript" src="js/jquery.nicescroll.min.js"></script>
<script src="js/responsive-accordion.min.js" type="text/javascript"></script>

<script src="menu-opener.js"></script>

<script type="text/javascript">

$(document).ready(

  function() { 

    $("#custom_scroll").niceScroll();

  }

);

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script
src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&amp;sensor=false">
</script>
<script>

var myCenter=new google.maps.LatLng(19.073843,72.999285);

function initialize()
{
var mapProp = {
  	center:myCenter,
    zoom:16,
 	scrollwheel: false,
  mapTypeId:google.maps.MapTypeId.ROADMAP
  };
 
 
  var contentString = '<div id="content">'+
      '<div id="siteNotice">'+
      '</div>'+
      '<h3 id="firstHeading" class="firstHeading">Neoalta Seciality Clinic</h3>'+
      '<div id="bodyContent">'+
	  '<p><p>'+
	  '<p><p>'+
	  '<p><a href="http://maps.google.com/maps?saddr=&daddr=19.073843,72.999285" target="_blank">Get Direction</a></p>'
	  '</div>'+
      '</div>';


  var infowindow = new google.maps.InfoWindow({
  content: contentString
  });
 
			var marker=new google.maps.Marker({
			position:myCenter,
			icon:'<?php bloginfo("template_url");?>/images/yellow-dot.png',
		   animation:google.maps.Animation.BOUNCE
});


 var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
marker.setMap(map);

 google.maps.event.addDomListener(marker, 'click', function() {
    infowindow.open(map,marker);

});
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>
  <script>
  $(".menu-opener").click(function(){
  $(".menu-opener, .menu-opener-inner, .menu").toggleClass("active");
});

  </script>
<!--<script src="js/jquery.dlmenu.js"></script>
		<script>
			$(function() {
				$( '#dl-menu' ).dlmenu({
					animationClasses : { classin : 'dl-animate-in-5', classout : 'dl-animate-out-5' }
				});
			});
		</script>-->
        <script>
$(document).ready(function(){
	$('a[href^="#"]').on('click',function (e) {
	    e.preventDefault();

	    var target = this.hash;
	    var $target = $(target);

	   $('html, body').stop().animate({
     		'scrollTop': $target.offset().top
		}, 900, 'swing');
});
});
</script>

</body>
</html>
