<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Pure Non Veg</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
   	<link href="css/inner-pg.css" rel="stylesheet">
   <link href="css/bootstrap-select.css" rel="stylesheet">
	 <link rel="stylesheet" type="text/css" href="fonts/stylesheet.css" />
	<!-- Start WOWSlider.com HEAD section -->
<link rel="stylesheet" type="text/css" href="css/style-sldr.css" />

	<link rel="stylesheet" type="text/css" href="css/component.css" />
		
<!-- End WOWSlider.com HEAD section -->
<style>
@import url(http://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);

</style>
<style>

    </style>
    
</head>

<body>
<div class="wrapper">
	<header>
    	<div class="container">
  			<div class="row">
            	<div class="col-lg-6 col-sm-6 col-xs-6">
                	<div class="logo-txt">
                     	<a href="index.html"><img src="img/logo.png" alt="" /></a>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-xs-6">
                	
                     <nav class="menu-opener">
                        <div class="menu-opener-inner"></div>
                      </nav>
                      <nav class="menu">
                        <ul class="menu-inner1">
                      		
                          <a href="#" class="col-lg-3">
                            <li class="active1">Home</li>
                          </a>
                          <a href="#" class="col-lg-3">
                            <li>Order</li>
                          </a>
                          <a href="#" class="col-lg-3">
                            <li>Sign Up</li>
                          </a>
                          <a href="#" class="col-lg-3">
                            <li>Sign In</li>
                          </a>
                         </ul>
                      </nav>
                </div>
            </div>
 		</div>
    </header>
    
    <div class="ur-ordr-pg">
    	<div class="container">
        	<div class="row">	
            	<div class="col-lg-12">
                	<a href="#" class="back-rst"> Back to restaurant </a>
                    <div class="steps-div">
                    	<img src="img/steps1.png" alt="" />                        
                    </div>
                </div>                
            </div>
            <div class="row">
            	<div class="col-lg-8">	
                	<div class="order-confim-div">
                    	<div class="confirm-div-repeat">
                    	  <a href="#" class="h-img"><img src="img/rest-1.png" alt="" /></a> 	
                    	  <a href="#" class="hname">Minus 18 Degrees</a>
                          <p class="hadd"><a href="#" >Baner: </a>273/5, Baner Main Road, Opposite Aman Honda Showroom...</p>
                          <span class="rating">
                            <input type="radio" class="rating-input"
                                id="rating-input-1-5" name="rating-input-1">
                            <label for="rating-input-1-5" class="rating-star"></label>
                            <input type="radio" class="rating-input"
                                id="rating-input-1-4" name="rating-input-1">
                            <label for="rating-input-1-4" class="rating-star"></label>
                            <input type="radio" class="rating-input"
                                id="rating-input-1-3" name="rating-input-1">
                            <label for="rating-input-1-3" class="rating-star"></label>
                            <input type="radio" class="rating-input"
                                id="rating-input-1-2" name="rating-input-1">
                            <label for="rating-input-1-2" class="rating-star"></label>
                            <input type="radio" class="rating-input"
                                id="rating-input-1-1" name="rating-input-1">
                            <label for="rating-input-1-1" class="rating-star"></label>
                        </span>
                        <span ></span>
                       </div>
                      	
                        <div class="confirm-div-repeat">	
                     			<div class="delete-item"><img src="img/delete.png" alt="Delete"/></div>
                            	<div class="menu-confirm-list">	
                                	
                                    <span class="m-name">Cheese Omelet And Toast </span>
                                    <p>A warm oven toasted buttered bread roll.</p>
                                    
                                </div>
                              <div class="manage-no-item">
                                 <div id="output1" class="output">0</div>
                                   <button onClick="increament_val('output1');" id="increement" type="button"><img src="img/dwonarrow.png" alt="" /></button>
                                       <button onClick="decreament_val('output1')" id="decreement" type="button"><img src="img/dwonarrow.png" alt="" /></button>
                                     
                                 </div>
                                  <div class="total"> 200 Rs.</div>
                       </div>   	
                         <div class="confirm-div-repeat">	
                     			<div class="delete-item"><img src="img/delete.png" alt="Delete"/></div>
                            	<div class="menu-confirm-list">	
                                	
                                    <span class="m-name">Cheese Omelet And Toast </span>
                                    <p>A warm oven toasted buttered bread roll.</p>
                                    
                                </div>
                                
                                <div class="manage-no-item">
                                 <div id="output2" class="output">0</div>
                                   <button  onClick="increament_val('output2');" id="increement" type="button"><img src="img/dwonarrow.png" alt="" /></button>
                                       <button onClick="decreament_val('output2')" id="decreement" type="button"><img src="img/dwonarrow.png" alt="" /></button>
                                     
                                 </div>
                                  <div class="total"> 200 Rs.</div>
                       </div>
                       <div class="confirm-div-repeat">	
                     			<div class="delete-item"><img src="img/delete.png" alt="Delete"/></div>
                            	<div class="menu-confirm-list">	
                                	
                                    <span class="m-name">Cheese Omelet And Toast </span>
                                    <p>
                                    A warm oven toasted buttered bread roll
                                    A warm oven toasted buttered bread roll.</p>
                                    
                                </div>
                                
                               <div class="manage-no-item">
                                 <div id="output3"  class="output">0</div>
                                   <button id="increement" onClick="increament_val('output3');"  type="button"><img src="img/dwonarrow.png" alt="" /></button>
                                       <button id="decreement"  onClick="decreament_val('output3')" type="button"><img src="img/dwonarrow.png" alt="" /></button>
                                     
                                 </div>
                                  <div class="total"> 200 Rs.</div>
                       </div>
                       
                       
                         
                         <div class="subtotal"><p>Subtotal:<span>Rs. 500 </span></p></div> 
                         <div class="voucher-div">
                         <p>Enter your voucher code here </p>
                         <input type="text" id="v-id" placeholder="Voucher Id"/>
                         <input type="button" value="Submit" />
                         </div>  
                          <div class="extra-chrgs">
                          	<p>Delivery fee 	<span>FREE</span></p>
							<p>+ Container charges <span>Rs.5.00</span></p>
							<p>+ Service tax (4.94%)<span> 	Rs.26.43</span></p>
							<p>Total will be rounded off</p>
    					</div>
                        	  <div class="subtotal"><p>Total:<span>Rs. 550 </span></p></div> 
                        </div>
                      
                  </div>
               
                <div class="col-lg-4">
    				<div class="final-odr-div">            	
						<div class="final-ordr-head"><h2>Order information</h2></div>
							<div class="final-ordr-contnt">
  					<div>
                    <input type="radio" name="radiog_lite" id="radio1" class="css-checkbox" /><label for="radio1" class="css-label radGroup1">  Delivery</label>
</div>

   					 <p><span>Your order will be delivered to your address.</span></p>

   					<div>
   <input type="radio" name="radiog_lite" id="radio2" class="css-checkbox" /><label for="radio2" class="css-label radGroup1"> Pickup</label>
</div>

    				<p>You will pick up the order yourself at restaurant.
    759/60, Prabhat Road,Deccan Gymkhana,Pune</p>
					<hr />
   					<p><div>
  <input type="radio" name="radiog_lite2" id="radio3" class="css-checkbox" /><label for="radio3" class="css-label radGroup1"> As soon as Possible</label>
</div></p>

  					<p>  Estimated delivery time: 55 min</p>

    				<div>
   <input type="radio" name="radiog_lite2" id="radio4" class="css-checkbox" /><label for="radio4" class="css-label radGroup1">Later</label>
</div>
                    <div class="">
                    	 <select class="selectpicker" id="select-date">
                            <option>Select a date</option>
                            <option>21/05/2015</option>
                            <option>22/05/2015</option>
                          </select>
                    </div>
                    <div class="">
                           <select class="selectpicker" id="select-time">
                              <option>Select a Time</option>
                              <option>20:00</option>
                              <option>21:00</option>
                              <option>22:00</option>
                              <option>23:00</option>
                              <option>24:00</option>
                              
                            </select>
                    </div>
                    <hr />
                  
                    <p>(If you want to add any comment, e.g. about allergies or delivery instructions, this is the right place)</p>
                         <button data-target="#demo" data-toggle="collapse" class="btn msg" type="button">Add a message to your order</button>                                                
                         <div aria-expanded="false" class="collapse arcv-content" id="demo">
								<textarea placeholder="Message"></textarea>
                          </div>

                      <a class="chk-out" href="#">Checkout</a>
                   </div>
				</div>	
				
                </div>
            </div>
        </div>       
    </div>
   
 	<div class="how-to-order">
    	<div class="container">
        	<div class="order-links">
            	<ul><li><a href="#">HOW TO ORDER </a></li>
                	<li><a href="#">VERIFY ORDER </a></li>
                    <li><a href="#">TRACK ORDER </a></li>
                    <li><a href="#">FAQS </a></li>
                    <li><a href="#">CUSTOMER CARE</a></li>
                </ul>    
                	
            </div>
        </div>
    </div>
    <div class="social-sec">
    	<div class="container">
        	<div class="row">
            	<div class="col-lg-12 ">
                	 <div class="social" >
                     		<h1>Let's be Friends</h1>
                         	
                                <a href="http://facebook.com" class="icon-button facebook"><div class="add-facebook"></div><span></span></a>
  <a href="http://twitter.com/minimalmonkey" class="icon-button twitter"><div class="add-twitter"></div><span></span></a>
  <a href="#" class="icon-button google-plus"><div class="add-insta"></div><span></span></a>
<a href="http://plus.google.com" class="icon-button google-plus"><div class="add-gplus"></div><span></span></a>
<a href="http://plus.google.com" class="icon-button google-plus"><div class="add-linked-in"></div><span></span></a>

<a href="http://plus.google.com" class="icon-button google-plus"><div class="add-pintrest"></div><span></span></a>

                         </div>
                </div>
            </div>
        </div>
    </div>
     <div class="footer-links-sec">
    	<div class="container">
        	<div class="row">            	
                <div class="ft-link">
                     <div class="col-lg-3 col-sm-3">
                        <h1>Pure Non Veg</h1>
                        <a href="#"> About Us</a>
 						<a href="#">Team Careers  Blog</a>
                        <a href="#">Contact Us</a>
                        <a href="#">Blog</a>
						<a href="#">Sitemap</a>
                     
                    </div>
                    <div class="col-lg-3 col-sm-3">
                    <h1>POPULAR CUISINES</h1>
                         <a href="#">  Indian Restaurants</a>
                          <a href="#"> Chinese Restaurants</a>
                         <a href="#"> Pizza Restaurants</a>
                          <a href="#"> Cake Delivery</a>
                           <a href="#"> Italian Restaurants</a>                         
                          <a href="#">Mexican Restaurants</a>                          
                         <a href="#"> Punjabi Restaurants</a>                          
                          <a href="#">Fast Food Restaurants</a>
                   
                    </div>
                    <div class="col-lg-3 col-sm-3">
                    <h1>POPULAR delivery locations</h1>
                     <a href="#"> Domino's Pizza</a>
                     <a href="#"> Eatsome</a>
                     <a href="#"> Mast Kalandar </a>
                     <a href="#"> Subway</a>
                     <a href="#"> Pizza Corner</a>          
                     <a href="#"> Mad Over Donuts </a>                     
                     <a href="#"> Mainland China</a>
                     <a href="#"> Baskin Robbins </a>                    
                    </div>
                    <div class="col-lg-3 col-sm-3">
                    <h1>POPULAR RESTAURANTS</h1>
                       <a href="#">Domino's Pizza </a>
                       <a href="#">Eatsome</a>
                       <a href="#"> Mast Kalandar</a> 
                        <a href="#">Subway </a>                      
                        <a href="#">Pizza Corner</a>                        
                        <a href="#">Mad Over Donuts</a>                        
                        <a href="#">Mainland China</a>                        
                        <a href="#">Baskin Robbins</a>                 
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
 <div class="copyright-sec">
    	<div class="container">
        	<div class="row"> 
               <div class="col-lg-10 col-sm-10">
               <p>© 2015 : purenonveg.com : all rights reserved : crafted and marketed by <a href="http://infinistaconcepts.com/">infinista concepts</a></p>
               </div>
                <div class="col-lg-2 col-sm-2">
                <a href="#"><span>Privacy</span></a>&nbsp;  &nbsp;  . &nbsp;  &nbsp;
                 <a href="#"><span> Terms</span></a>
               </div>
            </div>
        </div>
     </div>
    
</div>
 
</div>
<script src="js/modernizr.custom.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap-select.js"></script>
<script type="text/javascript" src="js/wowslider.js"></script>
<script type="text/javascript" src="js/script.js"></script>

<script type="text/javascript" src="js/jquery.nicescroll.min.js"></script>
<script src="js/responsive-accordion.min.js" type="text/javascript"></script>

<script src="menu-opener.js"></script>
<script >

function increament_val(id)
{
	$('#'+id).html(function(i, val) { return val*1+1 });
}

function decreament_val(id)
{
	$('#'+id).html(function(i, val) { if(val!=0){return val*1-1} });
}







/*
$('#increement').click(function() {
    $('#output').html(function(i, val) { return val*1+1 });
});
$('#decreement').click(function() {
    $('#output').html(function(i, val) { if(val!=0){return val*1-1 }});
});
*/
</script>
<script type="text/javascript">

$(document).ready(

  function() { 

    $("#custom_scroll").niceScroll();

  }

);

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script
src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&amp;sensor=false">
</script>
<script>

var myCenter=new google.maps.LatLng(19.073843,72.999285);

function initialize()
{
var mapProp = {
  	center:myCenter,
    zoom:16,
 	scrollwheel: false,
  mapTypeId:google.maps.MapTypeId.ROADMAP
  };
 
 
  var contentString = '<div id="content">'+
      '<div id="siteNotice">'+
      '</div>'+
      '<h3 id="firstHeading" class="firstHeading">Neoalta Seciality Clinic</h3>'+
      '<div id="bodyContent">'+
	  '<p><p>'+
	  '<p><p>'+
	  '<p><a href="http://maps.google.com/maps?saddr=&daddr=19.073843,72.999285" target="_blank">Get Direction</a></p>'
	  '</div>'+
      '</div>';


  var infowindow = new google.maps.InfoWindow({
  content: contentString
  });
 
			var marker=new google.maps.Marker({
			position:myCenter,
			icon:'<?php bloginfo("template_url");?>/images/yellow-dot.png',
		   animation:google.maps.Animation.BOUNCE
});


 var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
marker.setMap(map);

 google.maps.event.addDomListener(marker, 'click', function() {
    infowindow.open(map,marker);

});
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>
  <script>
  $(".menu-opener").click(function(){
  $(".menu-opener, .menu-opener-inner, .menu").toggleClass("active");
});

  </script>
<!--<script src="js/jquery.dlmenu.js"></script>
		<script>
			$(function() {
				$( '#dl-menu' ).dlmenu({
					animationClasses : { classin : 'dl-animate-in-5', classout : 'dl-animate-out-5' }
				});
			});
		</script>-->
        <script>
$(document).ready(function(){
	$('a[href^="#"]').on('click',function (e) {
	    e.preventDefault();

	    var target = this.hash;
	    var $target = $(target);

	   $('html, body').stop().animate({
     		'scrollTop': $target.offset().top
		}, 900, 'swing');
});
});
</script>

</body>
</html>
